name: release

on:
  push:
   branches:
     - main 

jobs:
  release:
   runs-on: ubuntu-latest

   steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: Conventional Changelog Action
      id: changelog
      uses: TriPSs/conventional-changelog-action@v3
      with:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
        git-message: 'chore(release): {version}'
        git-user-name: 'Awesome Changelog Action'
        git-user-email: 'haritha356535@gmail.com'
        output-file: "false"
        skip-on-empty: 'true'
        skip-commit: 'false'
   
    - name: Create Release
      uses: actions/create-release@v1
      if: ${{ steps.changelog.outputs.skipped == 'false' }}
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
      with:
        tag_name: ${{ steps.changelog.outputs.tag }}
        release_name: ${{ steps.changelog.outputs.tag }}
        body: ${{ steps.changelog.outputs.clean_changelog }}   
	  
